# Functions

In [ ]:
# Functions Documentation:

In [18]:
def sumnum(a,b):
    '''
    This function takes two inputs
    and add them
    '''
    return a+b

In [2]:
sumnum(1,2)

3

In [19]:
print(help(sumnum))

Help on function sumnum in module __main__:

sumnum(a, b)
    This function takes two inputs
    and add them

None

In [6]:
help(sumnum)

Help on function sumnum in module __main__:

sumnum(a, b)
    This function takes two inputs
    and add them

In [11]:
def sumnum1(a,b):
    return a+b

In [10]:
help(sumnum1)

Help on function sumnum1 in module __main__:

sumnum1(a, b)

In [12]:
def sumnum2(a,b):
    a+b

In [14]:
sumnum2(2,3)

In [15]:
expenses_sergey = [30,45,70,90]
expenses_sundar = [40,23,10,85]

In [16]:
total = 0

for expense in expenses_sergey:
    total += expense
print("Total expense for sergey is", total)

Total expense for sergey is 235

In [17]:
total = 0

for expense in expenses_sundar:
    total += expense
print("Total expense for sundar is", total)

Total expense for sundar is 158

- Note I have to write the same code again and again for different people
- Functions can help in this case

In [ ]:
# Funcctions

In [3]:
def find_total(expenses):
    ftotal = 0
    
    for expense in expenses:
        ftotal += expense
    return ftotal

In [26]:
find_total(expenses_sergey)

235

In [27]:
find_total(expenses_sundar)

158

In [28]:
print(ftotal) # because ftotal is a local variable (and not global)

NameError: name 'ftotal' is not defined

In [22]:
def find_total1(expenses):
    
    '''
    This function takes expenses list as an input and returns a total sum of that list 
    param expenses- list of input expenses
    return- total expense
    '''
    
    ftotal = 0  
    for expense in expenses:
        ftotal += expense
    return ftotal

In [23]:
print(help(find_total1))

Help on function find_total1 in module __main__:

find_total1(expenses)
    This function takes expenses list as an input and returns a total sum of that list
    param expenses- list of input expenses
    return- total expense

None

In [21]:
help(find_total1)

Help on function find_total1 in module __main__:

find_total1(expenses)

In [20]:
find_total1([2,3,4,5,6,7])

27

Function to calculate the volume of cylinder

In [24]:
def cylinder_volume(radius, height):
    volume = 3.14 * (radius**2) * height
    return volume

In [26]:
r = 5
h = 10

- Positional arguments

In [30]:
volume = cylinder_volume(r,h)
print("Volume of cylinder is",volume,"cubic meters")

Volume of cylinder is 785.0 cubic meters

In [31]:
cylinder_volume(10,5)

1570.0

- Keyword arguments

In [32]:
cylinder_volume(height=10,radius=5)

785.0

- Default argument
- lets say height is fixed for all the cylinders in fcatory
- radius not fixed

In [33]:
def cylinder_volume(radius, height=7):
    volume = 3.14 * (radius**2) * height
    return volume

In [34]:
cylinder_volume(5,10)

785.0

In [35]:
cylinder_volume(5)

549.5