# Tuples

In [1]:
x, y = [2,3]

In [2]:
x

2

In [4]:
y

3

In [ ]:
# Tuple

In [8]:
point = (5,6)

In [9]:
point[1] = 8

TypeError: 'tuple' object does not support item assignment

In [7]:
point

[5, 8]

In [10]:
list1 = [2,3,4]

In [11]:
list1[0] = 8

In [12]:
list1

[8, 3, 4]

In [14]:
list1[3] = 5

IndexError: list assignment index out of range

In [15]:
point

(5, 6)

In [16]:
type(point)

tuple

In [17]:
point(1) = 9

SyntaxError: can't assign to function call (<ipython-input-17-a991efc7b526>, line 1)

- Tuples are Immutable -> Once you initialise a tuple you cant change it
- because of this memory management is easier i.e., Tuples are more memory efficient
- If we have a python list it can grow dynamically and memory management is little expensive
- Python list is a dynamic array and memory management is a little expensive
- In case of tuple because memory is fixed, memory management is easier

In [18]:
# When a function returns two values - using tuples more efficient than using a list

In [19]:
def find_pe_and_pb(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return (pe, pb)

In [20]:
find_pe_and_pb(100,2,4)

(50.0, 25.0)

In [21]:
def find_pe_and_pb1(price, eps, book_value):
    pe = price/eps
    pb = price/book_value
    return pe, pb

In [23]:
pe_ratio, pb_ratio = find_pe_and_pb1(100,2,4)

Both the above are same

In [24]:
pe_ratio

50.0

In [25]:
pb_ratio

25.0

# Dictionary

In [26]:
contacts = [('rachel',8887771111),('monika',6665554444),('joey',222333444)]

In [27]:
contacts[0][1]

8887771111

In [ ]:
# suppose youwant to find the contact number of Joey

In [29]:
for contact in contacts:
    if contact[0] == 'joey':
        contact_num = contact[1]

print(contact_num)

222333444

In [ ]:
# what if the list is large and joey is at last
# this method wont be efficient
# better way is using dictionary

In [31]:
d = {
    'rachel' : 8887771111,
    'monika' : 6665554444,
    'joey' : 222333444
}

In [32]:
d

{'rachel': 8887771111, 'monika': 6665554444, 'joey': 222333444}

In [33]:
d['monika']

6665554444

In [34]:
# O(1) time complexity

Dictionary in python is implementing a Hash Map data structure

In python, hash map is called Dictionary

In [35]:
d['ankita']

KeyError: 'ankita'

In [41]:
d.get('joey')

222333444

In [36]:
d.get('ankita')

In [ ]:
# In the above case the code will not throw an error as it returns a None value

In [ ]:
# We can supply a default value as well

In [39]:
d.get('ankita',0) # 0 is the default value

0

In [40]:
d.get('joey', 0)

222333444

In [42]:
d['joey'] = 1234567891

In [43]:
d

{'rachel': 8887771111, 'monika': 6665554444, 'joey': 1234567891}

<b>Adding an element in a dictionary</b>

In [44]:
d['satya'] = 5672348901

In [45]:
d

{'rachel': 8887771111,
 'monika': 6665554444,
 'joey': 1234567891,
 'satya': 5672348901}

<b>Deleting an element from a dictionary</b>

In [46]:
del d['satya']

In [47]:
d

{'rachel': 8887771111, 'monika': 6665554444, 'joey': 1234567891}

<b>in operator</b>

In [48]:
'bill' in d

False

In [49]:
d

{'rachel': 8887771111, 'monika': 6665554444, 'joey': 1234567891}

In [50]:
'rachel' in d

True

In [51]:
d1 = {
    'rachel' : {'phone' : 1234, 'address' : '1 blue st'},
    'monika' : {'phone' : 3456, 'address' : '2 green st'},
    'rachel' : {'phone' : 5678, 'address' : '3 yellow st'}
}

In [53]:
d1['rachel']

{'phone': 5678, 'address': '3 yellow st'}

In [54]:
d1['rachel']['address']

'3 yellow st'

<b>for Loop in Dictionary</b>

In [55]:
d = {
    'rachel' : 8887771111,
    'monika' : 6665554444,
    'joey' : 222333444
}

In [ ]:
# Method 1:

In [57]:
for name in d:
    print(name, d[name])

rachel 8887771111
monika 6665554444
joey 222333444

In [ ]:
# Method 2:

In [58]:
for name, number in d.items():
    print(name, number)

rachel 8887771111
monika 6665554444
joey 222333444

d.items() here means that each iteration will now have a key, value

<b>To know all the functions available in Dictionary</b>

In [59]:
dir(d)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [60]:
d.items()

dict_items([('rachel', 8887771111), ('monika', 6665554444), ('joey', 222333444)])

<b>Dictionary Function - keys() and values()</b>

Use Case: when we need keys in a single list and values in a single list

In [62]:
d.keys()

dict_keys(['rachel', 'monika', 'joey'])

In [65]:
list(d.keys())

['rachel', 'monika', 'joey']

In [63]:
d.values()

dict_values([8887771111, 6665554444, 222333444])

In [66]:
list(d.values())

[8887771111, 6665554444, 222333444]

In [ ]:
git

In [71]:
e = {‘Luke’: 1994, ‘Boba’: 1989, ‘Kyle’: 1998, ‘Hann’: 1993}

SyntaxError: invalid character in identifier (<ipython-input-71-253cfe0cb798>, line 1)

In [70]:
print(d[‘Boba’ : ‘Kyle’])

SyntaxError: invalid character in identifier (<ipython-input-70-b26c147e786c>, line 1)